In [1]:
''' 
    1. Explain with an example each when to use a for loop and a while loop.
  Ans. For loop is used when  you konw the number of iterations ahead of time.
       While loop is used when you do not know the number of iterations ahead of time.
'''

' \n    1. Explain with an example each when to use a for loop and a while loop.\n  Ans. For loop is used when  you konw the number of iterations ahead of time.\n       While loop is used when you do not know the number of iterations ahead of time.\n'

In [5]:
# Write a program to print the sum and product of the first 10 natural numbers using for loop.

summ = 0
product = 1

for i in range(1,11):
    summ = summ + i
    product = product * i
    
print("Sum is :",summ)
print("Product is :",product)

Sum is : 55
Product is : 3628800

In [10]:
# Write a program to print the sum and product of the first 10 natural numbers using for loop.

summ = 0
product = 1
i = 1

while(i<=10):
    summ = summ + i
    product = product * i
    i = i + 1
    
print("Sum is :",summ)
print("Product is :",product)

Sum is : 55
Product is : 3628800

In [9]:
# Create a program to compute the electricity bill for a household.

units = int(input("Enter the number of unit"))

if ( units <=100 ):
    print("User will be charged ",units * 4.5) 
    
elif ( units > 100 and units <=200 ):
    a = units % 100
    print("User will be charged ",(100 * 4.5) + (a *6))
    
elif ( units > 200 and units <= 300 ):
    b = units % 100
    print("User will be charged ",(100*4.5) + (100*6) + (b*10))
    
else:
    c = units % 100
    print("User will be charged ",(100*4.5) + (100*6) + (100*10) + (c*20))

Enter the number of unit 310

User will be charged  2250.0

In [18]:
# Question 4

li = list(range(1,101))
new_list = []

for i in li:
    i3 = i*i*i
    print(i3)
    if ( i3 % 4 == 0 or i3 % 5 ==0 ):  
        new_list.append(i3)
        
new_list

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [23]:
# Question 5

string = "i want to become a data scientist"

len(string)
countt = 0

for i in range(33):
    if ( string[i] == "a" or string[i] == "e" or string[i] == "i" or string[i] == "o" or string[i] == "u" ): 
        countt = countt + 1
        
print(countt)

12